* ul li{ list-style:none;}
.main_agent_hotel{ margin: 0px; padding-top: 40px; margin-bottom: 40px; display: block; width: 100%; }
.hight_auto{ padding-bottom:20px; padding-top: 0px; height: 320px; }
ul.main_hotal_agent_left_grid li{ margin-right:30px; border-radius:5px; margin-bottom:15px; padding:23px 8px; position:relative; float:right;	}
ul.main_hotal_agent_left_grid li a{ font-size: 14px; color: #555; line-height: 20px; margin: 0px; padding:0px; }
.ren_family_1{  background:#f5ebeb;border-top:solid 3px #af2f28;border-bottom:solid 8px #af2f28;}
.blue_family_1{ border-bottom:solid 8px #86c1da;border-top:solid 3px #86c1da; background:#ecf9fe;}
ul.main_hotal_agent_left_grid li h2{ font-size:17px; font-weight:400; color:#333; border-bottom:solid 1px #888; padding-bottom:10px; margin-bottom:20px; position:relative;}
a:hover{ text-decoration:none !important; }
ul.main_hotal_agent_left_grid li h2 span{ font-size:12px; padding-left:40px; position:absolute; bottom:5px;}
ul.main_hotal_agent_left_grid li h4{ position:absolute; bottom:10px; font-size:15px; color:#000;}
ul.main_hotal_agent_left_grid li h2 i{ margin-right:10px;}
ul.main_hotal_agent_right_nav li{ line-height: 40px; border-bottom: solid 1px #bebdbd; padding-bottom:5px; margin-bottom:5px;}
ul.main_hotal_agent_right_nav li a{ color:#555; text-decoration:none;}
ul.main_hotal_agent_right_nav li a span { margin-left:20px;}
.box_agent_design_1{ border-bottom:solid 5px #7fadcf; background:#86c1da; padding:10px;}
.box_agent_design_2{ border-bottom:solid 5px #000; background:#b9b9b9; padding:10px;}
.box_agent_design_3{ border-bottom:solid 5px #000; background:#b9b9b9; padding:10px;}
.box_agent_design_4{ border-bottom:solid 5px #58aa7a; background:#c9e4d3; padding:10px;}
.box_agent_design_5{ border-bottom:solid 5px #00d767; background:#8ff4bf; padding:10px;}
.box_agent_design_6{ border-bottom:solid 5px #fda721; background:#f9e1bb; padding:10px;}
.box_agent_design_7{ border-bottom:solid 5px #7fadcf; background:#86c1da; padding:10px;}
.box_agent_design_8{ border-bottom:solid 5px #58aa7a; background:#c9e4d3; padding:10px;}

.heading_box{ font-size:16px !important; color:#000 !important;}
.offer_supplement_list_box{ background:#fff; padding:0px; margin:0px; margin-top:20px;}
.offer_supplement_list_box ul{ width:100%;display:block; list-style:none;    padding-left: 0px;}
.offer_supplement_list_box ul li{ width:100%; display:inline-block; padding:10px; margin-bottom:15px; background:#f8f7ee; }
.offer_supplement_list_box ul h2{ font-size:17px; font-weight:400; padding-bottom:15px; margin:0px;}
.effect1{
	-webkit-box-shadow: 0 10px 1px -8px #d8d7c8;
	   -moz-box-shadow: 0 10px 1px -8px #d8d7c8;
	        box-shadow: 0 10px 1px -8px #d8d7c8; margin-bottom:40px; clear: both;
}
.offer_supplement_list_box ul li h4{ color:#466aa6; font-weight:600; padding-bottom:0px; font-size:15px;}
.offer_supplement_list_box ul li p{ line-height:11px;}
.offer_supplement_list_box ul li p span{ color:#910051; font-weight:400; padding-right:40px; font-size:13px;}
.iocn_right_20{ margin-right:20px;}

.rate_list_box{ background:#fff; padding:20px; margin:0px; margin-top:20px;}
.rate_list_box ul{ width:100%;display:block; list-style:none;}
.rate_list_box ul li{ width:100%; display:inline-block; padding:10px; margin-bottom:15px; background:rgba(248, 247, 238, 0.66); }
.rate_list_box ul h2{ font-size:17px; font-weight:400; padding-bottom:15px; margin:0px;}
.tr_style_bg{	-webkit-box-shadow: 0 10px 1px -8px #d8d7c8;
	   -moz-box-shadow: 0 10px 1px -8px #d8d7c8;
	        box-shadow: 0 10px 1px -8px #d8d7c8; line-height: 40px; border-bottom: solid 1px #bebdbd; padding-bottom:5px; margin-bottom:5px;
}
.boder_rate_list{  text-align:center;  margin-right:0px; color:#fff;  border-right:solid 18px #fff;    border-bottom: solid 5px #58aa7a;
    background: #c9e4d3;}
.font_style_rate{ font-weight:600 !important; font-size:15px;}
.font_size_12{ font-size:12px; color:#910051;}
.rate_supplements_discounts{ background:#f3f3f3 !important; padding:30px;}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.mar_top{ margin-top:10px;}
.mar_top_20{ margin-top:20px;}
.mar_top_40{ margin-top:40px; padding-left:10px;}
.border_top{ border-top:solid 2px #f2f2f2;}

.mar_top_bot{ margin-bottom:20px;}
.manual_report_flog{ background:#fff; padding:20px; margin:0px; margin-top:20px;}
.manual_report_flog ul{ width:100%;display:block; list-style:none; }
.manual_report_flog ul li{ display:inline-block; padding:10px; margin-bottom:2px;  float:left; margin-left:20px;}
.manual_report_flog ul h2{ font-size:17px; font-weight:400; padding-bottom:15px; margin:0px; padding:20px;}
.div_bg_manual_report{background:rgba(248, 247, 238, 0.66);}
.report_heading{ font-size:16px !important; color:#000 !important;}
.create_nre_offer{background:#fff; padding:20px; margin:0px; margin-top:20px;}
.create_nre_offer h2{ font-size:18px; color:#fabb26; padding:0px; margin:0px;}
.pa_bo_40{ padding-bottom:10px !important;border-bottom:solid 2px #f2f2f2; margin-bottom:30px !important;}
.pa_bo_20{ padding-top:20px;}
.pa_to_40{ padding-top:40px !important; border-bottom:solid 2px #f2f2f2; padding-bottom:10px !important;}
.float_left_ul ul li{     float: left; margin-top:20px;
    margin-left: 20px;}
	.pad_40{ padding-top:40px !important;}
	.update_icon{right: 7px;
    bottom: 4px;
    color: #fff;
    padding: 10px;
    width: 45px;
    height: 45px;
    background: #000;
    border-radius: 100px;
    line-height: 22px !important;
    text-align: center;
    position: absolute; cursor:pointer;}
	.update_icon:hover{ background: #910051;}
	.update_icon_1{right: -14px;
    bottom: -18px;
    color: #fff;
    padding: 10px;
    width: 45px;
    height: 45px;
    background: #000;
    border-radius: 100px;
    line-height: 22px !important;
    text-align: center;
    position: absolute; cursor:pointer;}
	.update_icon_1:hover{ background: #910051;}
	.edit_availability input[type=button], .edit_availability input[type=submit], .edit_availability input[type=reset] {
		color:#555; font-size:13px;
	}
	.edit_availability label{     font-size: 12px;
    text-align: right !important;
    /* line-height: 24px; */
    color: #555;}
	.label_top_20{    padding-top: 20px !important;
    margin-bottom: 1px !important;}
	.form_disign{ padding:10px; border:solid 1px #f2f2f2; border-bottom:solid 2px #f2f2f2;}
	.hr_design{ height:2px; width:100%; margin-bottom:20px; border:dotte 2px #000;}
	.overall_view_tab{ background:#fff; padding:10px;}
	.div_th{ width:150px;}
	.div_th_1{ width:250px;}
	.tab_border_bo{    border-bottom: 1px solid #910051 !important;}
	.hotel_info_page{ background:#fff;}
	.heading_title{ font-size:22px !important; color:#910051 !important; border-bottom:dotted 2px #910051;}
	ul.tab_menu{  width:100%; margin:0px; padding:0px; display:black; clear:both;}
	ul.tab_menu li{  float:left;  display:inline-block; margin:0px; text-align:center; padding:5px; line-height:30px; background:#8ff4bf ; border-radius:5px; margin-right:10px;}
	ul.tab_menu li a{ color:#000; text-decoration:none; font-weight:600; }
	ul.genral_info li{width:47%;  margin-right:20px; margin-bottom:50px;display: inline-block;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;-moz-box-shadow: none;
  -webkit-box-shadow: none;box-shadow: none;border-bottom: 2px solid #bebdbd; border-bottom: solid 5px #fda721;
    background: #f9e1bb;}
  .box_relative{ position:relative;padding:15px; }
  ul.genral_info li h3{  line-height;20px;  color:#000; font-size:20px; margin:0px; padding:0px; }
  ul.genral_info li p{ padding-top:20px;}
  .gree_light{border-bottom: solid 5px #00d767 !important;
    background: #8ff4bf !important;}
	.padd_none{ padding:0px !important}
	.pull_width{ width:96.5% !important;}
	ul.facility_box{ padding:0px; margin:0px; display:block;}
	ul.facility_box li{ float:left;border-bottom: solid 5px #00d767;
    background: #8ff4bf; padding:40px;     margin-left: 48px;
    margin-bottom: 48px;}
	.img_buttom{ margin-bottom:20px;}
	ul.facility_box li:hover{    border-bottom: solid 5px #fda721;
    background: #f9e1bb;}
	
.edit_cover_pic{ position:relative;}
.bo_10{    border: solid 10px /*rgba(250, 187, 38, 0.6)*/ #fff;}
.edit_cover{ background-color:#910051;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    margin-left: 8px;padding: 6px 19px;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    border-radius: 3px;
    border-width: 2px;}
	.edit_cover:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.5px 6px 10.5px 0;
    border-color: transparent #910051 transparent transparent;
    position: absolute;
    left: -5px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.edit_cover_1{ background-color:#910051;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: 8px;padding: 6px 19px;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    border-radius: 3px;
    border-width: 2px;}
	.edit_cover_1:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10.5px 6px 10.5px 0;
    border-color: transparent #910051 transparent transparent;
    position: absolute;
    left: -5px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.layer_absolute{ position:absolute; width:100%; padding:0px; margin:0px; background:rgba(0, 0, 0, 0.8); height:auto; min-height:400px; padding:60px 0px 38px 0px;} 
ul.edit_profile_agent{ width:100%; padding:0px; margin:0px; display:block;}
ul.edit_profile_agent li{ float:left; list-style:none;}
ul.edit_profile_agent li h2{ font-size:56px; font-weight:bold; padding-bottom:20px; margin:0px; color:#fff; position:relative;}
.span_1{ position: absolute;
    width: 45%;
    bottom: 19px;
    left: 50px;
    height: 3px;
    background: #fabb26;}
ul.edit_profile_agent li p{ font-size:12px; margin:0px; color:#fff;}
ul.edit_profile_agent li p span{ font-size:16px; margin:0px; color:#fff; font-weight:400;}
ul.edit_profile_agent li p a{font-size:12px; margin:0px; color:#fff;}
.perllex_bg {
	width:100%;min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position:center center; height:400px; position:relative; background-image:url(../../img/agent_pro_img/main-slide2.jpg);
}