@import "animate.css";
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Raleway:400,100,300,500,600,700);
@import url(//fonts.googleapis.com/css?family=Tangerine:400,700);
@import url(//fonts.googleapis.com/css?family=Anton);
/*========================================================
                        Includes
=========================================================*/
/*========================================================
                      Main Styles
=========================================================*/
body {
  background: #374242;
  color: #333;
  font: 400 14px/30px 'Raleway', sans-serif;
  -webkit-text-size-adjust: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: 60px;
  line-height: 72px;
}
h2 {
  font-size: 48px;
  line-height: 60px;
}
h3 {
  font-size: 30px;
  line-height: 40px;
}
h4 {
  font-size: 24px;
  line-height: 30px;
}
h4 + p {
  margin-top: 15px;
}
p a:hover {
  text-decoration: underline;
}
p + ul {
  margin-top: 21px;
}
time {
  display: block;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:active {
  background: transparent;
}
a:focus {
  outline: none;
}
a[href^="tel:"] {
  color: inherit;
  text-decoration: none;
}
strong {
  font-weight: 700;
}
.fa {
  line-height: inherit;
}
[class*='fa-']:before {
  font-weight: 400;
  font-family: 'FontAwesome';
}
.page {
  overflow: hidden;
  min-height: 500px;
}
.lt-ie9 .page {
  min-width: 1200px;
}
hr {
  border: none;
  height: 2px;
  background: url(../images/page_border-img.jpg) repeat-x;
}
/*=======================================================
                       Main Layout
=========================================================*/
/*=======================================================
                        Components
=========================================================*/
/*==================     ToTop     ======================*/
.toTop {
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  color: #fff;
  background: #3196a9;
  position: fixed;
  right: 66px;
  bottom: 180px;
  display: none;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  z-index: 20;
}
.toTop:hover {
  color: #fff;
  background: #a94810;
  text-decoration: none;
}
@media only screen and (max-width: 1399px) {
  .toTop {
    display: none !important;
  }
}
/*==================   Tumbnail    ======================*/
.thumb {
  display: inline-block;
  position: relative;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.thumb img {
  width: 100%;
  height: auto;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.thumb_overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  color: #ffffff;
  background: transparent;
}
.thumb_overlay:before {
  content: '\f065';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font: 400 30px 'FontAwesome';
  line-height: 30px;
  margin-top: -15px;
  text-align: center;
}
.lt-ie9 .thumb_overlay:before {
  display: none;
}
.thumb:hover .thumb_overlay {
  opacity: 1;
  background: rgba(0, 0, 0, 0.5);
}
.lt-ie9 .thumb:hover .thumb_overlay {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
  zoom: 1;
}
.lt-ie9 .thumb:hover .thumb_overlay:before {
  display: block;
}
.thumb:hover img {
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
@charset "UTF-8";
@font-face {
  font-family: "internet-icons";
  src: url("../fonts/internet-icons.eot");
  src: url("../fonts/internet-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/internet-icons.woff") format("woff"), url("../fonts/internet-icons.ttf") format("truetype"), url("../fonts/internet-icons.svg#internet-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "internet-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "FontAwesome" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-internet-1:before {
  /*content: "a";*/
}
.icon-internet-2:before {
  content: "\f0eb";
  font-family: FontAwesome;
}
.icon-internet-3:before {
  content: "\f07a";
  width: 103px;
  font-size: 103px;
  line-height: 161px;
}
.icon-internet-4:before {
  content: "\f007";
}
.icon-internet-5:before {
  content: "\f145";
  width: 108px;
  font-size: 110px;
  line-height: 163px;
}
.icon-internet-6:before {
  /*content: "f";*/
}
.icon-internet-7:before {
  content: "\f0a6";
  font-family: FontAwesome;
  width: 75px;
  font-size: 76px;
  line-height: 163px;
}
.icon-internet-8:before {
  content: "\f06b";
  width: 95px;
  font-size: 98px;
  line-height: 160px;
}
.icon-internet-9:before {
  /*content: "i";*/
  width: 95px;
  font-size: 98px;
  line-height: 160px;
}
/*==================     Icons     ======================*/
.icon {
  display: block;
  position: relative;
  width: 161px;
  height: 161px;
  border: 5px solid #a5d9d2;
  background: #374242;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}
.icon:before {
  color: #7fccda;
  text-align: left;
  display: inline-block;
}
.icon3 {
  display: block;
  position: relative;
  width: 68px;
  height: 68px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #7fccda;
  text-align: center;
}
.icon3:before {
  font-size: 39px;
  width: 32px;
  text-align: left;
  line-height: 68px;
  display: inline-block;
  font-weight: 400;
}
/*==================    Buttons    ======================*/
.btn {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  background: #ee864a;
  text-transform: uppercase;
  font-weight: 300;
  padding: 6px 29px;
  padding-right: 43px;
  color: #fff;
}
.btn:hover {
  background: #57bccf;
}
@media (max-width: 479px) {
  .btn {
    font-size: 24px;
    line-height: 30px;
    padding: 6px 29px;
  }
}
/*==================    Lists    ======================*/
.list {
  display: inline-block;
  position: relative;
  z-index: 5;
  margin: 0 200px;
}
.list li {
  float: left;
  position: relative;
  z-index: 5;
  width: 21.5%;
}
.list li span + * {
  margin-top: 17px;
}
.list li a {
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  color: #3c4848;
}
.list li a:hover {
  color: #ee864a;
}
.list li + li {
  margin-left: 4.5%;
}
.list li:before {
  content: "";
  position: absolute;
  top: 87px;
  right: 0;
  background: #9fb4b1;
  background: url(../images/page_border-img.jpg) repeat-x;
  width: 2000px;
  height: 2px;
  z-index: 1;
  display: none;
}
.list li:after {
  content: "";
  position: absolute;
  top: 87px;
  left: 100%;
  background: #9fb4b1;
  background: url(../images/page_border-img.jpg) repeat-x;
  width: 2000px;
  height: 2px;
  z-index: 1;
  display: none;
}
.list:before {
  content: "";
  position: absolute;
  top: 87px;
  right: 0;
  background: #9fb4b1;
  background: url(../images/page_border-img.jpg) repeat-x;
  width: 2000px;
  height: 2px;
  z-index: 1;
}
.list:after {
  content: "";
  position: absolute;
  top: 87px;
  left: 100%;
  background: #9fb4b1;
  background: url(../images/page_border-img.jpg) repeat-x;
  width: 2000px;
  height: 2px;
  z-index: 1;
}
@media (max-width: 1199px) {
  .list {
    margin: 0;
    text-align: center;
  }
  .list li + li {
    margin-left: 4.5%;
  }
  .list .icon {
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .list li {
    float: none;
    width: 100%;
  }
  .list li + li {
    margin-left: 0;
    margin-top: 50px;
  }
  .list li:before,
  .list li:after {
    display: block;
  }
  .list:before,
  .list:after {
    display: none;
  }
  .list .icon {
    position: relative;
    z-index: 5;
  }
}
.list2 li {
  display: inline-block;
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  padding-left: 28px;
  position: relative;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.list2 li:before {
  content: '\f18e';
  font-size: 14px;
  line-height: 36px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'FontAwesome';
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-weight: 400;
}
@media (max-width: 479px) {
  .list2 li {
    font-size: 20px;
    line-height: 26px;
  }
}
.clients-list li {
  float: left;
  position: relative;
  margin-left: 11px;
}
.clients-list li + li {
  margin-left: 45px;
}
.clients-list li a {
  position: relative;
  display: inline-block;
}
.clients-list li a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.5);
}
.lt-ie9 .clients-list li a:before {
  filter: alpha(opacity=0);
}
.lt-ie9 .clients-list li a:before {
  background: none;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#80ffffff');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#80ffffff');
  zoom: 1;
}
.clients-list li a:hover:before {
  opacity: 1;
}
.lt-ie9 .clients-list li a:hover:before {
  filter: alpha(opacity=100);
}
@media (max-width: 1199px) {
  .clients-list li {
    width: 50%;
    text-align: center;
    margin-left: 0;
  }
  .clients-list li + li {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .clients-list li {
    width: 100%;
  }
  .clients-list li a img {
    width: 100%;
  }
}
/*==================      Box      ======================*/
.box {
  color: #fff;
}
.box:before,
.box:after {
  content: " ";
  display: table;
}
.box:after {
  clear: both;
}
.box_aside {
  float: left;
  margin-right: 32px;
}
.box_cnt {
  overflow: hidden;
}
.box_cnt .who {
  font-weight: 500;
}
.box_cnt .who + p {
  margin-top: 1px;
}
@media (max-width: 767px) {
  .box {
    text-align: center;
  }
  .box_aside {
    float: none;
    display: inline-block;
    margin-right: 0;
  }
  .box_aside + * {
    margin-top: 30px;
  }
}
.cnt {
  text-align: center;
}
.cnt h2 {
  color: #343f3f;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 100px;
}
.cnt h2 span {
  font-weight: 600;
}
.cnt h2 + * {
  margin-top: 62px;
}
@media (max-width: 767px) {
  .cnt h2 {
    padding: 0;
  }
}
@media (max-width: 479px) {
  .cnt h2 {
    font-size: 40px;
    line-height: 46px;
  }
}
.cnt2 {
  color: #fff;
}
.cnt2 p {
  line-height: 24px;
}
.cnt2 .thumb {
  border: 3px solid #d56831;
  margin: 0 1px;
}
.cnt2 h4 {
  margin-top: -11px;
}
.cnt2 * + .row {
  margin-top: 72px;
}
@media (max-width: 767px) {
  .cnt2 {
    text-align: center;
  }
  .cnt2 ul {
    text-align: left;
  }
}
/*========================================================
                     HEADER  Section
=========================================================*/
header {
  position: relative;
}
header .header_top-bar {
      background: #fff;
    /*padding-top: 8px;*/
    padding-bottom: 8px;
    position: fixed;
    /* top: 0; */
    /* margin-top: 216px; */
    z-index: 999;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
header .header_top-bar .brand {
  position: relative;
  float: left;
  display: block;
  font-size: 48px;
  line-height: 60px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  header .header_top-bar .brand {
    font-size: 40px;
    line-height: 44px;
  }
}
header .header_top-bar .call-us {
  text-align: center;
    display: inline-block;
    float: right;
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 18px;
    line-height: 17px;
    background: #ffffff;
    margin-top: -35px;
    margin-bottom: -20px;
    margin-right: 20px;
    -moz-transform: rotate(340deg);
    -ms-transform: rotate(340deg);
    -o-transform: rotate(340deg);
    -webkit-transform: rotate(340deg);
    transform: rotate(332deg);
    writing-mode: lr-tb;
    z-index: 999;
    position: relative;
    color: #fff;
  /* -moz-box-shadow: -3px 4px 6px rgba(0, 0, 0, .2);
            -webkit-box-shadow: -3px 4px 6px rgba(0, 0, 0, .2);
            box-shadow: -3px 4px 6px rgba(0, 0, 0, .2); */
}
header .header_top-bar .call-us p {
      background: #009dd5;
    padding: 35px 20px;
    padding-bottom: 25px;
}
header .header_top-bar .call-us p:before,
header .header_top-bar .call-us p:after {
  position: absolute;
  content: "";
  bottom: 15px;
  left: 2px;
  width: 10%;
  height: 90%;
  top: 2px;
  max-width: 300px;
  background: transparent;
  -moz-box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.2);
  box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.2);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  z-index: -1;
}
header .header_top-bar .call-us p:after {
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  top: 100%;
  margin-top: -13px;
  height: 10px;
  width: 90%;
  z-index: -1;
}
@media (max-width: 767px) {
  header .header_top-bar {
    text-align: center;
  }
  header .header_top-bar .brand,
  header .header_top-bar .call-us {
    float: none;
    margin: 20px 0;
  }
}
header .header_middle-bar {
  padding-top: 130px;
  padding-bottom: 145px;
}
header .header_middle-bar h2 {
  text-transform: uppercase;
  line-height: 72px;
  font-weight: 100;
  color: #fff;
}
header .header_middle-bar h2 span {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 5px;
  display: block;
  font-size: 72px;
  line-height: 67px;
  color: #7fccda;
  font-family: 'Anton', sans-serif;
}
header .header_middle-bar h2 + a {
  margin-top: 21px;
}
@media (max-width: 767px) {
  header .header_middle-bar h2 {
    font-size: 32px;
    line-height: 36px;
  }
  header .header_middle-bar h2 span {
    font-size: 40px;
    line-height: 44px;
  }
}
header .header_bottom-bar {
  padding-top: 10px;
  padding-bottom: 12px;
}
header .header_bottom-bar p {
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  font-weight: 300;
}
/*==================     Brand     ======================*/
.brand {
  display: inline-block;
}
.brand_name {
  overflow: hidden;
}
/*========================================================
                     CONTENT  Section
=========================================================*/
main {
  display: block;
  background: #ffffff;
}
main .section-header {
  position: relative;
  text-align: center;
}
main .section-header h2 {
  position: relative;
  display: inline-block;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
}
main .section-header .icon2 {
  position: absolute;
  top: 34px;
  left: 50%;
  margin-left: -85.5px;
  margin-top: -171px;
  width: 171px;
  height: 171px;
  background: #ed7c44;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  z-index: 0;
}
main .section-header .icon2:before {
  color: #fff;
  width: 110px;
  font-size: 108px;
  line-height: 139px;
  margin-top: -0.5px;
  /*text-align: left;*/
  display: inline-block;
}
main .section-header.__mod .icon2 {
  background: #374242;
}
main .section-header.__mod .icon2:before {
  width: 95px;
  font-size: 88px;
  line-height: 139px;
  margin-top: -3px;
  text-align: left;
  display: inline-block;
}
main .section-header.__mod2 h2 {
  color: #ed7c44;
}
main .section-header.__mod2 .icon2 {
  background: #fff;
}
main .section-header.__mod2 .icon2:before {
  color: #ed7c44;
  width: 95px;
  font-size: 92px;
  line-height: 139px;
  margin-top: -11px;
  text-align: left;
  display: inline-block;
}
main .section-header.__mod3 .icon2 {
  background: #7fccda;
}
main .section-header.__mod3 .icon2:before {
  color: #fff;
  width: 85px;
  font-size: 90px;
  line-height: 181px;
  margin-top: -12px;
  text-align: left;
  display: inline-block;
}
/*==================      Well     ======================*/
.well {
  padding-top: 88px;
  padding-bottom: 141px;
}
.well-2 {
  padding-top: 88px;
  padding-bottom: 101px;
}
.well-3 {
  padding-top: 88px;
  padding-bottom: 136px;
}
.well-3 * + .row {
  margin-top: 59px;
}
.well-3 .row + .row {
  margin-top: 61px;
}
.well-4 {
  padding-top: 88px;
  padding-bottom: 97px;
}
.well-4 .section-header + ul {
  margin-top: 67px;
}
.well-5 {
  padding-top: 88px;
  padding-bottom: 100px;
}
.well-5 .section-header + form {
  margin-top: 65px;
}
/*==================  Backgrounds  ======================*/
.bg-primary {
  background: #ee864a;
}
.bg-secondary {
  background: #7fccda;
}
.bg {
  background: url(../images/page_img01.jpg) no-repeat top center;
}
@media (max-width: 479px) {
  .bg {
    background-position: top right;
  }
}
.bg2 {
  background: #d1e8e5;
  background: url(../images/page_background1.jpg) repeat;
}
.bg3 {
  background: #374242;
}
.bg-4 {
  background: #ed7c44;
}
/*========================================================
                     FOOTER  Styles
=========================================================*/
footer {
  background: #374242;
  padding-top: 30px;
  padding-bottom: 22px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
@media (max-width: 479px) {
  footer {
    font-size: 12px;
    line-height: 30px;
  }
}