@charset "utf-8";
/* CSS Document */

body { font-family: "Open Sans", Arial, sans-serif; }
p{
    text-align: justify;
}
ul,li { margin:0; padding:0;}
.logo {font-family: 'Raleway', sans-serif;}
.nav-logo { padding:12px 0px; box-shadow:-1px 4px 2px 2px #0000002e; }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.bx-wrapper img {
    width: 100%;
    display: block;
    height:400px;
}
.slidder { width:100%; float:left; position:relative;}
.slidder-ul { width:100%; }
.bx-captionslidder{ position:absolute; top:20%; left:40%; color:#fff; font-size:14px;}
.bx-captionslidder p { font-size:34px ;font-weight:500; text-shadow: 1px 2px 3px #666;}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 56%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

 .bx-wrapper .bx-prev {
    right: auto;
    background:url(../images/c1.png) no-repeat;
    left:10px;
}
.slidder .bx-wrapper .bx-next {
    right: 10px;
        background:url(../images/c2.png) no-repeat;

}
#black_filter {
  position: absolute;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    background-color: rgba(0,0,0,0.4); /*background with opacity */
    z-index: 0;
    top: 0;
    left: 0;
}

.customized-template { width:100%; float:left;  padding-top:20px; }
.center {width:100%; margin:0 auto;}
.leyered-section { width:100%; }
.leyered-heading {     font-weight: bold;}
.leyered-heading h3{ font-size:18px;    color: #718190; line-height:34px;text-align:center;}
.leyered-heading h6 { font-size:18px; text-align:center;         color: #666666;}
.circle-icon { width:100%; text-align:center }
.circle { width:10px; height:10px; background:#666666; border:1px #666666 solid; border-radius:50%;  position:relative; display:inline-block;}
.circle:before{position: absolute;
    content: "";
    top: 4px;
    left: -105px;
    width: 96px;
    border-bottom: 1px  #666666 solid;}
    .circle:after {
   position: absolute;
    content: "";
    top: 4px;
    right: -105px;
    width: 96px;
    border-bottom: 1px  #666666 solid;
}
.service-content{
    width: 100%;
    /* text-align: center; */
    padding-top: 40px;
    margin-bottom: 50px;
}
.service-content p {    
    color: black;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 0px;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 1px;
 }
    .four-boxServiceDescription { width:100%; padding-top:30px;}
    .box-1 { width:100%;}
    .heading-center { width:34%; margin:0 auto;}
    .circle-heading { width:45px; height:45px; background:#3c4f6f; border-radius:50%; display: table-cell;
      vertical-align: middle; 
      text-align: center;
      text-decoration: none;}
      .circle-heading i { font-size:14px ;color:#fff;}
       .service-heading{ width:100%; }
      .service-heading h5{text-align: center;
    padding-top: 1px;
    color: #415474;
    font-size: 15px;
    font-weight: 500;
    }
    .service-heading p { width: 100%;
    text-align: center;
    line-height: 24px;
    margin: 0 0 0px;
    font-weight: 100;
   } 
   .design { width:100%; float:left; background:url(../images/overlay.jpg)no-repeat; background-size:cover; 
   padding-top:30px; padding-bottom:20px; position:relative}
   .overlay { width:100%; height:100%; position:absolute; top:0; background: rgba(0, 0, 0, 0.26); }
   .content { width:50%; margin:0 auto;}
    .content p { color:#fff; font-size:14px; text-align:center; line-height:30px;}
    .modern-heading { text-align:center; padding-top:20px;}
    .modern-heading h4{text-align: center;
    padding-top: 1px;
    color: #415474;
    font-size: 23px;
    font-weight: 500;}
    .modern-heading  h6{ font-size:18px; padding-top:10px;}
    .modern-heading p{ 
       width: 100%;
    text-align: center;
    line-height: 35px;
    margin: 0 0 0px;
    font-weight: 100;
    padding-top: 10px;
    font-size: 16px;
    font-family: serif;
    margin-bottom: 25px;}
    .image-section { width:100%; padding-top:20px;}
    .graphic-tab{}
    .graphic-tab .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #00c7f9;}
    .graphic-tab .nav > li > a, .nav > li > a:focus {
    text-decoration: none;
    background-color: #304769; color:#fff;
}
.graphic-tab  .nav {
    width:60%;
   
    list-style: none;
    margin:20px auto 0 auto;
}
.graphic-tab .nav > li > a {
    position: relative;
    display: block;
    padding: 6px 24px 6px 24px;
}
.graphic-tab .nav-pills > li + li {
    margin-left: 19px;
}
.tab-image img{ width:100%; height:120px}
.blue-background { width:100%; float:left;padding-top:10px; padding-bottom:10px; background:#171f32; margin-top:20px; position:relative;}
.blue_image { width:100%; height:auto;}
.blue_image img { width:100%; }
.blue-content { width:100%; }
.blue-content h5 { font-size:14px; color:#fff; line-height:24px}
.blue-content p { font-size:12px; color:#fff; line-height:24px; text-align:justify;}
.cross { position:absolute; top:10px; right:10px; color:#fff; font-size:16px; cursor:pointer;}
.line { width:100%; float:left; height:1px; background:#fff;}
.client_description { width:100%; padding-top:14px; list-style:none}
.client_description li { color:#fff; font-size:12px; margin-bottom:10px; }
.client_description li span { margin-right:15px; float:left;}
.blue_button {  background:transparent; border:1px #fff solid; border-radius:6px; padding:10px; text-align:center; color:#fff; margin-top:14px; float:left}
.work-section { width:100%; padding-top:15px; float:left; position:relative;}
.arrows {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 135px;
    cursor: pointer;
    background: #171f32;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 8px;
}
.arrows i { color:#fff; font-size:14px; }
.work_heading {
    width: 100%;
    float: left;
    margin-top: 80px; text-align:center;
}
.work_heading h4 {  color:#3e5074; font-size:23px; line-height:20px; letter-spacing:1px;}
.work_heading p {color:#3e5074; font-size:15px; line-height:20px;  letter-spacing:0.5px; margin-bottom:30px}
.work_section {width:60px; text-decoration:none; color:#fff; text-align:center; border-radius:6px; background:#3e5074; padding:10px 20px 10px 20px;}
.our_team { width:100%; float:left; background:url(../images/c5.jpg) no-repeat center center; position:relative; }
.our_team:before{content:""; position:absolute; width:100%; height:100%; background: rgba(0, 0, 0, 0.47);}
.our_team-box{ width:100%; float:left;  }
.team_heading { padding-top:20px; color:#fff; position:relative}
.team_heading h3 { color:#fff; font-size:24px; text-align:center; text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.26);
}
.team_heading p {width: 100%;
    text-align: center;
    line-height: 24px;
    margin: 0 0 0px;
    font-weight: 100;}
    .employee_description { width:70%; margin:20px auto;  bor}
    .employee_description img {width:120px; height:120px; border:2px #fff solid;}
    .employee_description h5 { color:#fff; font-size:15px; text-align:center; text-shadow: 1px 2px 3px #666;}
    .employee_description p { color:#fff; font-size:13px; text-align:center; text-shadow: 1px 2px 3px #666;}
    .employee_history { width:100%; float:left; background:#171f32; background-size:cover; padding-bottom:20px; padding-top:20px;}
    .employee_story { width:100%; float:left;}
    .employee_story h2 { color:#fff; font-size:15px; line-height:20px; letter-spacing:1px;}
        .employee_story p { color:#fff; font-size:13px; line-height:20px; letter-spacing:1px;}
        .employee_skills { width:100%; float:left;}
        .employee_heading {}
        .employee_heading h2 {    color: #666666; font-size:24px; text-align:center; text-shadow: 1px 1px 2px rgba(150, 150, 150, 0.26);}
        .employee_heading p {     color: #666666; font-size:15px; text-align:center; }
        .about_us { width:95%; margin:0 auto;}
        .about_us h2 {    color: #666666; font-size:15px; text-align:left; }
        .about_us p {    color: #666666; font-size:14px; line-height:20px; text-align:justify; margin-bottom:20px;}
        .skills_heading {    color: #666666;font-size:15px; text-align:left;}
.work_section1 {
    width: 60px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    background: #3e5074;
    padding: 10px 20px 10px 20px; text-decoration:none;
}
.work_section1:hover{ color:#fff;}
.project_completed { width:100%; float:left; background:#182535; background-size:cover; padding-bottom:25px; padding-top:25px; margin-top:30px;}
.icon1 {width:100%; color:#fff; font-size:14px; }
.icon1 i { color:#00c9f6; font-size:24px; margin-right:10px;}
.grid_syestem { width:100%;float:left; margin-top:25px; position:relative;}
.grid_heading {     color: #666666; font-size:15px; text-align:center; }
.grid_heading  p{     color: #666666; font-size:15px; text-align:center; line-height:23px; margin-top:10px;}
.grid_heading h6 {    color: #666666; font-size:17px; text-align:center; line-height:23px; margin-top:10px;}
.tab_grid { width:100%; float:left; margin-top:20px;}
.tab_grid {}
    .tab_grid .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #00c7f9;}
    .tab_grid .nav > li > a, .nav > li > a:focus {
    text-decoration: none;
    background-color: #304769; color:#fff;
}
.tab_grid  .nav {
    width:44%;
   
    list-style: none;
    margin:20px auto 0 auto;
}
.tab_grid .nav > li > a {
    position: relative;
    display: block;
    padding: 6px 24px 6px 24px;
}
.tab_grid .nav-pills > li + li {
    margin-left: 19px;
}
.img-tab { width:100%; float:left; margin-top: 20px;}
.img-tab img { width:100%; height:130px;}
.arrows1 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 49%;
    top: 40px;
    cursor: pointer;
    background: #171f32;
    border-radius: 50%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 8px;
}
.arrows1 i {
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
}
.newsLetter {
    text-align: center;
    padding-top: 1px;
    color: #3e4a72;
}
.newsLetter{ text-align:center;  color:#3e4a72;}
.newsLetter-section { width:100%; float:left; margin-top:100px; margin-bottom: 30px;}
.newsletter_form { width:100%; float:left;}
.form_input { width:70%; float:left; background:#3d5070; border-radius:4px ;padding:10px 5px; color:#fff; font-size:14px;}
.form_input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

.button_subscribe {width:28%; float:left; background:#3d5070; border-radius:4px; color:#fff; padding:9px 5px;}
.our_customers { width:100%; float:left; background:url(../images/yy.jpg) no-repeat; padding:20px 0px; position:relative; background-size:cover; margin-top:30px;}
.our_customers:before{ content:""; position:absolute;width:100%; height:100%; background: rgba(0, 0, 0, 0.54); top:0;}
.customers_heading { position:relative;}
.customers_heading h2{ text-align:center; font-size:26px; color:#fff; text-shadow: 1px 2px 3px #666;}
.customers_heading p {text-align:center; font-size:16px; color:#fff; text-shadow: 1px 2px 3px #666; line-height:23px;}
.testimonial { width:100%; float:left;}
.testimonial_heading {  color: #666666;; font-size:18px; text-align:center;}
.client_logo { margin-top:20px;}
.testimonial_feedback { color: #666666; font-size:17px; text-align:center; line-height:23px; margin-top:10px;}
.client-name{color: #666666; font-size:17px; text-align:center; line-height:23px; margin-top:10px; font-weight:bold;}
.testimonial .carousel-control {
    position: absolute;
    top: 74px;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #3d5070;;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}
.testimonial .carousel-control.left {
}
.testimonial .carousel-control.right {
    right: 0;
    left: auto;
}

.footer-form { width:100%; float:left; background:url(../images/f1.jpg) no-repeat center; background-size:cover;  position:relative; margin-bottom: 50px; 
padding-top:20px; padding-bottom:20px;}
.footer-form:before{ content:""; width:100%; height:100%; position:absolute; background: rgba(0, 0, 0, 0.6196078431372549); top:0;}
.footer-heading { width:100%; float:left; position:relative;}
.footer-heading h2 {text-align:center; font-size:26px; color:#fff; text-shadow: 1px 2px 3px #666;}
.footer-heading h4 {text-align:center; font-size:20px; color:#fff; text-shadow: 1px 2px 3px #666; margin-top:15px;}
.circle-icon1 {
    width: 100%;
    text-align: center;
}
.circle1 { width:10px; height:10px; background:#fff; border:1px #666666 solid; border-radius:50%;  position:relative; display:inline-block;}
.circle1:before{position: absolute;
    content: "";
    top: 4px;
    left: -105px;
    width: 96px;
    border-bottom: 1px  #fff solid;}
    .circle1:after {
   position: absolute;
    content: "";
    top: 4px;
    right: -105px;
    width: 96px;
    border-bottom: 1px  #fff solid;
}
.circle-middle { width:38%; margin:0 auto;}
.address { width:100%; margin-top:10px; }
.address p { color:#fff; position:relative; text-align:center;}
.footer-address { margin-top:20px; float:left;}
.form-input { width:100%;  background: #383a435e;; border:1px #fff solid;}
.form-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}
.text-comment { background: #171f3269; margin-top:30px; width:100%; float:left;}
.text-comment::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}
.middle-div { width:15%; margin:0 auto;}
.submit_button {     width: 150px;
    background: #fff;
    margin: 20px auto;
    padding: 10px 20px 10px 20px;
    color: #171f32;
    /* float: left; */
    position: relative;}
    .footer_fullform { width:70%;  margin:20px auto;}
    .last-footer { width:100%; float:left; background:#171f32; background-size:cover; padding-top:20px; padding-bottom:20px;}
    .last-footer p{ width:60%;margin:0 auto; color:#fff; font-size:14px; text-align:center;}
   .modal_btn {padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s; background:transparent; border:none;}
@media screen and (max-width:992px) {
    .heading-center {
    width: 20%;
    margin: 0 auto 0px auto;
    
}
.box-1 {
    width: 100%;
    margin-bottom:20px;
    
}
.graphic-tab .nav {
    width: 101%;
    list-style: none;
    margin: 20px auto 0 auto;
}
.tab-image { margin-bottom:20px;}
.arrows { display:none;}
.image-work { 
    width: 34%;
    /* float: left; */
    margin: 10px auto;
}
.image-work img {
    width: 76%;
}
.work_heading {
   
    margin-top: 22px;
}
.icon1 {
    margin: 20px auto;
}
.arrows1 { display:none;}
.nav-pills > li {
    float:none;
}
.graphic-tab .nav-pills > li + li {
    margin-left: 0;
}
.graphic-tab .nav > li > a {
   
  
    margin-bottom: 5px;
    text-align: center;
}
.about_us h2 {
    
    text-align: center;
}
.marg-20 { margin-top:10px; float:left;}
.skills_heading {
   
    text-align: center;
}
.tab_grid .nav-pills > li + li {
    margin-left:0px;
}
.tab_grid .nav-pills > li {
    float: none;
    margin-bottom: 5px;
}
.newsLetter-section {
   
     margin-top: 0px;
}
.circle-middle {
    width: 13%;
    margin: 10px auto;
}
.testimonial .carousel-control {
   
    left: -46px;
    width: 15%;
    
}
.testimonial .carousel-control.right {
    right: -49px;
    left: auto;
}
.address p {
    
    margin-top: 21px;
}
.form-input {
   
    margin-bottom: 14px;
}
.text-comment {
    background: #171f3269;
    margin-top: 4px;
    width: 104%;
   float: none;
}
.middle-div {
    width: 50%;
}
.sidebar-menu { margin-top:10px;}
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  
}

@media screen and (max-width: 450px) {
  .graphic-tab .nav {
    width: 100%;
    list-style: none;
    margin: 20px auto 0 auto;
}
}





/*================ card layout start ===============*/


.our_packages .masthead {
    background: #e74c3c;
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.our_packages .site-title {
    margin: 0 0 1em;
    padding: 1em 0;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    color: black;
}

@media screen and (min-width: 44.44em) {
    .our_packages .site-title {
        font-size: 2em;
    }
}
    
@media screen and (min-width: 50em) {
    .our_packages .site-title {
        font-size: 2.5em;
    }
}

.our_packages .site-title a {
    color: hsl(5, 45%, 95%);
    text-decoration: none;
}

.our_packages .site-title a:hover {
    text-decoration: underline;
}

/* Card Based Layout - Base styles 
/*body {
  background: #ecf0f1;
  line-height: 1.4;
}*/

.our_packages .site-title {
    color: white;
}

.our_packages .card {
    background: white;
    margin: 1em; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

.our_packages .card a {
    color: black;
    text-decoration: none;
}

.our_packages .card a:hover {
    box-shadow: 3px 3px 8px hsl(0, 0%, 70%);
}

.our_packages .card-content {
    padding: 1.4em;
}

.our_packages .card-content h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-weight: normal;
}

.our_packages .card-content p {
    font-size: 95%;
}

.our_packages img {
  width: 100%;
  height: 200px;
}

.slick-next:before, .slick-prev:before {
    color: black;
}

/* Flexbox styles 
/* @media screen and (min-width: 40em) {  
  .our_packages .cards {
    margin-top: -1em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .our_packages .card {
    margin-bottom: 1em;
    display: flex;
    flex: 0 1 calc(50% - 0.5em);
    width: calc(50% - 1em);
  }
} mq 40em

@media screen and (min-width: 60em) {
  .our_packages .cards {
    margin-top: inherit;
  }
  
  .our_packages .card {
    margin-bottom: 2em;
    display: flex;
    flex: 0 1 calc(20% - 0.5em);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(33% - 1em);
  }
} */


/*=================== card layout end =================*/



/*=================== Package Circle layout start =================*/

.circle_contnn {
            width: 200px;
                height: 200px;
                background: #009fd9;
                color: white;
                border-radius: 50%;
                box-shadow: 1px 7px 8px #6d65658a;
                transition: all 0.5s ease-in-out;
        }
        
         .hiddenmm {
            display: none;
            /*transition: all 0.5s ease-in-out;*/
        }

         .circle_contnn:hover {
               width: 200px;
                color: white;
                height: 350px;
                background: #48b255;
                border-radius: 0px;
                box-shadow: 0px 1px 8px #908989;
                /* transition: all 0.5s ease-in-out; */
                color: white;
                border: 9px solid white;
            
        }

         .circle_contnn:hover .hiddenmm {
            display: block;
            /*transition: all 0.5s ease-in-out;*/
        }

         .center12 {
            text-align: center;
            position: relative;
            top: 20%;
            font-size: 18px;
        }
/*=================== Package Circle layout end =================*/



/*=================== Why choose us Start =================*/

#black_filter {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #2282a6d1;
          z-index: 0;
          top: 0;
          left: 0;
        }
        .services1 {
            /*background: url('../images/123.jpg') no-repeat;*/
            background: white;
            background-position: right bottom;
            background-size: 28%;
            position: relative;
            padding: 50px;
        }

    .service-icon1 img {
        width: 50px;
    }

    .service-contnt1{
        color: white;
        margin-bottom: 40px;
    }
/*=================== Why choose us end =================*/