@charset "utf-8";
/* CSS Document */

body { font-family: "Open Sans", Arial, sans-serif; }
.nav-logo { padding:12px 0px;}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.bx-wrapper img {
    width: 100%;
    display: block;
	height:400px;
}
.slidder { width:100%; float:left; position:relative;}
.slidder-ul { width:100%; }
.bx-captionslidder{ position:absolute; top:20%; left:40%; color:#fff; font-size:14px;}
.bx-captionslidder p { font-size:34px ;font-weight:500; text-shadow: 1px 2px 3px #666;}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 56%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

 .bx-wrapper .bx-prev {
    right: auto;
    background:url(../images/c1.png) no-repeat;
    left:10px;
}
.slidder .bx-wrapper .bx-next {
    right: 10px;
	    background:url(../images/c2.png) no-repeat;

}
.customized-template { width:100%; float:left;  padding-top:20px; }
.center {width:70%; margin:0 auto;}
.leyered-section { width:100%; }
.leyered-heading {     font-weight: bold;}
.leyered-heading h3{ font-size:18px;    color: #718190; line-height:34px;text-align:center;}
.leyered-heading h6 { font-size:18px; text-align:center;     color: #777777;}
.circle-icon { width:100%; text-align:center }
.circle { width:10px; height:10px; background:#fff; border:1px #777777 solid; border-radius:50%;  position:relative; display:inline-block;}
.circle:before{position: absolute;
    content: "";
    top: 4px;
    left: -105px;
    width: 96px;
    border-bottom: 1px #777777 solid;}
	.circle:after {
   position: absolute;
    content: "";
    top: 4px;
    right: -105px;
    width: 96px;
    border-bottom: 1px #777777 solid;
}
.service-content{width:100%; text-align:center; padding-top:20px;}
.service-content p {color: #777777;
    line-height: 24px;
    margin: 0 0 0px; font-weight:100;}
	.four-boxServiceDescription { width:100%; padding-top:30px;}
	.box-1 { width:100%;}
	.heading-center { width:34%; margin:0 auto;}
	.circle-heading { width:45px; height:45px; background:#3c4f6f; border-radius:50%; display: table-cell;
      vertical-align: middle; 
      text-align: center;
      text-decoration: none;}
	  .circle-heading i { font-size:14px ;color:#fff;}
	   .service-heading{ width:100%; }
	  .service-heading h5{text-align: center;
    padding-top: 1px;
    color: #415474;
    font-size: 13px;
    font-weight: 500;
    }
	.service-heading p { width: 100%;
    text-align: center;
    line-height: 24px;
    margin: 0 0 0px;
    font-weight: 100;
   } 
   .design { width:100%; float:left; background:url(../images/overlay.jpg)no-repeat; background-size:cover; margin-top:30px; 
   padding-top:30px; padding-bottom:20px; position:relative}
   .overlay { width:100%; height:100%; position:absolute; top:0; background: rgba(0, 0, 0, 0.26); }
   .content { width:50%; margin:0 auto;}
    .content p { color:#fff; font-size:14px; text-align:center; line-height:30px;}
	.modern-heading { text-align:center; padding-top:20px;}
	.modern-heading h4{text-align: center;
    padding-top: 1px;
    color: #415474;
    font-size: 23px;
    font-weight: 500;}
	.modern-heading  h6{ font-size:18px; padding-top:10px;}
	.modern-heading p{ width: 100%;
    text-align: center;
    line-height: 24px;
    margin: 0 0 0px;
    font-weight: 100; padding-top:10px;}
	.image-section { width:100%; padding-top:20px;}
	.graphic-tab{}
	.graphic-tab .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #00c7f9;}
	.graphic-tab .nav > li > a, .nav > li > a:focus {
    text-decoration: none;
    background-color: #304769; color:#fff;
}
.graphic-tab  .nav {
	width:60%;
   
    list-style: none;
	margin:20px auto 0 auto;
}
.graphic-tab .nav > li > a {
    position: relative;
    display: block;
    padding: 6px 24px 6px 24px;
}
.graphic-tab .nav-pills > li + li {
    margin-left: 19px;
}
.tab-image img{ width:100%; height:120px}
.blue-background { width:100%; float:left;padding-top:10px; padding-bottom:10px; background:#171f32; margin-top:20px; position:relative;}
.blue_image { width:100%; height:auto;}
.blue_image img { width:100%; height:150px;}
.blue-content { width:100%; }
.blue-content h5 { font-size:14px; color:#fff; line-height:24px}
.blue-content p { font-size:12px; color:#fff; line-height:24px; text-align:justify;}
.cross { position:absolute; top:10px; right:10px; color:#fff; font-size:16px; cursor:pointer;}
.line { width:100%; float:left; height:1px; background:#fff;}
.client_description { width:100%; padding-top:14px; list-style:none}
.client_description li { color:#fff; font-size:12px; margin-bottom:10px; }
.client_description li span { margin-right:15px; float:left;}
.blue_button { width:60px; background:transparent; border:1px #fff solid; border-radius:6px; padding:10px; text-align:center; color:#fff; margin-top:14px;}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}